@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.school-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.card {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
